body {
    background-color: peachpuff;
}

h1 {
    font-family: Tahoma, sans-serif;
    color: blue;
}

h2 {
    font-family: Tahoma, sans-serif;
    color: blue;
}
h3 {
    font-family: Tahoma, sans-serif;
    color: blue;
}

li {
    font-family: Verdana;
    color: rebeccapurple;
}