body {
    background-color: peachpuff;
}

h1 {
    font-family: Tahoma;
    color: blue;
}

h2 {
    font-family: Tahoma;
    color: blue;
}
h3 {
   font-family: Tahoma;
    color: blue;
}

li {
    font-family: Verdana;
    color: rebeccapurple;
}